# EDA For Diamond Dataset 
![](https://images-na.ssl-images-amazon.com/images/I/615HMgt2EoL._UY625_.jpg)

EDA will be preformed on this dataset by analayzing all variables thoroughly.

## unvariate analysis

In [5]:
import pandas as pd
diamond = pd.read_csv("Data/diamonds.csv")
diamond.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [9]:
diamond.drop("Unnamed: 0",axis = 1, inplace = True)
diamond.shape

(53940, 10)

In [10]:
diamond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [13]:
from sklearn.model_selection import train_test_split
X = diamond.drop("price", axis = 1)
y = diamond["price"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state = 36)
X_train2, X_val, y_train2, y_val = train_test_split(X_train, y_train, test_size=0.05/0.95, random_state = 36) # 25% of 80% is 20%
print(f"Train set: X_train size: {X_train2.shape}, X_train size: {y_train2.shape}")
print(f"Cross val set: X_train size: {X_val.shape}, X_train size: {y_val.shape}")
print(f"test set: X_train size: {X_test.shape}, X_train size: {y_test.shape}")

Train set: X_train size: (48546, 9), X_train size: (48546,)
Cross val set: X_train size: (2697, 9), X_train size: (2697,)
test set: X_train size: (2697, 9), X_train size: (2697,)